body {
	background-color: #c2daff;
	color: #3a6ab5;
}

html::before {
  content: "";
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  outline: 20px solid #3a6ab5;
  padding: 25px;
}
html::before {
    top: 20px;
}
body::before {
  content: "";
  position: fixed;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  outline: 8px solid #c2daff;
  padding: 25px;
}
body:before {
	top: 8px;
}

.vertical-center {
  margin-top: 50px;
}

.information {
	/*border: 1px solid black;*/
}

.interactive {
	/*border: 1px solid black;*/
}

.headline {
	font-size: 48px;
	font-weight: bold;
}

.subline {
	font-size: 24px;
	font-weight: bold;
	font-style: italic;
}

.projects-list-solo {
	padding-top: 210px;
}

.block {
	margin-bottom: 10px;
}

.table>tbody>tr>td,
.table>tbody>tr>th {
	border-top: none;
}

.clickable-content {
	height:100%;
	width:100%;
	font-size: 16px;
}

.link-item:hover {
	background-color: #3a6ab5;
	color: #c2daff;
	cursor:pointer;
}

.link-item {
	font-weight: bold;
	font-size: 20px;
}

a { 
	text-decoration: none; 
}

.list-group .list-group-item {
  background-color: white;
  color: #3a6ab5;
  border: 1px solid #3a6ab5;
  font-weight: 500;
}

.list-group .list-group-item:hover {
  background-color: #02a345;
  color: white;
}

.tab-content .tab-pane {
	font-weight: 500;
}



/* ----------------------------------------- */

@media (max-width: 1200px) {
	html::before {
		content: "";
		position: fixed;
		top: 0px;
		left: 20px;
		right: 20px;
		bottom: 0px;
		outline: 20px solid #3a6ab5;
		padding: 25px;
	}
	html::before {
		top: 0px;
		bottom: 0px;
	}
	body::before {
		content: "";
		position: fixed;
		top: 0px;
		left: 8px;
		right: 8px;
		bottom: 0px;
		outline: 8px solid #c2daff;
		padding: 25px;
	}
	body:before {
		top: 0px;
		bottom: 0px;
	}

	.projects-list-solo {
		padding-top: 20px;
	}

	.headline {
		font-size: 96px;
		font-weight: bold;
	}

	.subline {
		font-size: 56px;
		font-weight: bold;
		font-style: italic;
	}

	.link-item {
		font-weight: bold;
		font-size: 56px;
	}

	#list-tab {
		font-size: 36px;
	}

	#nav-tabContent {
		margin-top: 20px;
		font-size: 48px;
	}
}