.code-editor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 100%;
  max-width: 460px;
  white-space: normal;
  overflow: auto;
  overflow-wrap: break-word;
  word-break: break-word;
}

.toggle-button {
  border: none;
  background: none;
  font-size: 16px;
  margin-right: 8px;
  margin-bottom: 0px;
  margin-top: 20px;
  padding: 0px;
  cursor: pointer;
  transition: 0.3s;
  font-family: monospace;
  font-weight: bold;
  margin-left: 30px;
}

.sign-button {
  position: absolute;
  background-color: #000;
  color: white;
  left: 0px;
  /* margin: 0; */
  cursor: pointer;
  /* font-size: 0.8em; */
  line-height: inherit;
  font-family: inherit;
  border: solid white 3px;
  border-radius: 4px;
  padding-inline: 5px;
  font-weight: bolder;
}

.code-block {
  transition: opacity 0.6s ease-out;
  transform-origin: top;
  opacity: 0;
  height: 0;
  overflow: auto;
  padding: 0px;
  border-radius: 4px;
  margin-top: 3px;
  margin-bottom: 10px;
  font-family: monospace;
  font-size: 16px;
  line-height: 20px;
  margin-left: 30px;
}

.code-block.expanded {
  opacity: 1;
  height: auto;
}

.code-link {
  color: '#5d9dc2';
}
