.title {
  margin: 0;
  line-height: 1.3;
  font-weight: 400;
  font-family: var(--font-fira-mono), monospace;
  font-size: 16px;
  margin-bottom: 16px;
  /* margin-top: 60px; */
  /* max-width: 460px; */
}

.mainpage {
  margin-bottom: 50px;
}

.bottomText {
  margin: 0;
  line-height: 1.15;
  /* font-weight: bold; */
  font-family: var(--font-fira-mono), monospace;
  font-size: 16px;
  margin-top: 30px;
  padding-top: 0px;
  border-top: 2px solid #b7d6e7ff;
  /* max-width: 460px; */
}

.terminal {
  /* height: 300px; */
  padding-top: 20px;
}

/* @media screen and (max-width: 767px) {
  .mainpage {
    margin-top: -200px;
    margin-inline: -200px;
    scale: 0.45;
    font-size: 9px;
    margin-bottom: 150px;
  }
} */

/* .custom-cursor {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: white;
  transition: transform 350ms ease;
  transform: translate(-50%, -50%) scale(.3);
  z-index: 1000;
} */

/* .custom-cursor:before {
  content: "";
  mix-blend-mode: difference;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 20px 40px rgba(255, 255, 255, 1);
  border-radius: 50%;
  filter: blur(5px);
} */
