.container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  align-items: center;
  height: 100%;
  min-height: 100%;

  /* margin: 0 20px; */
  /* width: calc(100% - 40px); */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}

.main {
  height: 100%;
  width: 100%;
  margin: 0px;
  margin-inline: 10vw;
  max-width: 720px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  overflow: auto;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-weight: bold;
  font-family: var(--font-fira-mono), monospace;
}

.title,
.description {
  text-align: center;
}

@media (max-width: 768px) {
  .main {
    margin-inline: 20px;
  }
}
