.introText {
  font-size: 16px;
}

.logLinkText {
  font-size: 16px;
  color: #5d9dc2;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.introTextBottom {
  font-size: 14px;
  color: #ccc;
  /* border-bottom: 2px solid #b7d6e7ff; */
}
