.navContainer {
  font-family: var(--font-fira-mono), monospace;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #b7d6e7ff;
  /* justify-content: space-between; */
}

.hiText {
  /* color: white; */
  animation: rainbow 1s linear infinite;
  margin-right: 20px;
}

.navBtn {
  color: #a8a8ff;
  padding: 4px;
  border: 0px solid black;
  border-radius: 10px;
  cursor:
    url('../public/cursor_old.png') 8 8,
    default;
}

.navBtn:hover {
  background: #000000;
  animation: rainbow 0.5s linear infinite;
}

@keyframes rainbow {
  0% {
    color: #ff0000;
  }
  20% {
    color: #ff7f00;
  }
  40% {
    color: #ffff00;
  }
  60% {
    color: #00ff00;
  }
  80% {
    color: #9494ff;
  }
  100% {
    color: #ff0000;
  }
}

@media (max-width: 768px) {
  .navContainer {
    gap: 10px;
  }
}
